body { background: black; overflow: hidden;}
  
text{ fill: #fff; }

.domain{
    stroke: #bcbbbd; stroke-width: 2;
}

.tick line, .axis{
    stroke: #bcbbbd; stroke-width: 2;
}

.tick text{
    fill: #bcbbbd; font-size: 1.8em;
}

#cartesian_graph_path{
    fill: none; stroke: #0a5275; stroke-width: 3; 
}

#polar_graph_path{
    fill: none; stroke: #0a5275; stroke-width: 3; 
}

#frequency_graph_path{
    fill: none; stroke: #0a5275; stroke-width: 3;
}

button {
    border: 1px solid #063146; border-radius: 10px; background: #063146;
    padding: 5px; box-shadow: 2px 2px #0a5275; font-size: 20px; font-family: "montserrat";
    color: white; cursor: pointer; transition: 0.3s ease;
}

button:hover {
    border: 1px solid #042331; background: #042331;
}