body{
  background: black;
}

text{
  fill: #fff;
}

.domain{
  stroke: #bcbbbd; stroke-width: 2;
}

.tick line, .axis{
  stroke: #bcbbbd; stroke-width: 2;
}

.tick text{
  fill: #bcbbbd; font-size: 1.8em;
}

#cartesian_graph_path{
  fill: none; stroke: #0a5275; stroke-width: 3; /* #8da67b */
}

#polar_graph_path{
  fill: none; stroke: #0a5275; stroke-width: 3; /* orange */
}

#frequency_graph_path{
  fill: none; stroke: #0a5275; stroke-width: 3; /* #8da67b */
}
